*{
	padding: 0;
	margin: 0;
	text-decoration: none;

}
@font-face{
	font-family: opensans;
	src:url(OpenSans-Regular.ttf);
}
@font-face{
	font-family: juliussans;
	src:url(JuliusSansOne-Regular.ttf);
}
body{
	font-family: opensans;
	
}

.logo{
	color: #DAD5D5;
	font-family: juliussans;
	font-size: 30px;
	line-height: 60px;
	padding: 15px 20px;
	background-color:#282828;
	letter-spacing: 
}
nav{
	position: fixed;
	background: white;
	height: 60px;
	width: 100%
}
nav ul{
	float: right;
	margin-right: 20px;

}
nav ul li {
	display: inline-block;
	line-height: 60px;
	margin: 5px;
}
nav ul li a{
	color:#747474 ;
	font-size: 15px;
	line-height: 60px;
	padding:0px 7px;
	border-radius: 3px;
	text-transform: uppercase;

}
.cvbtn{
	background: #9D7474;
	color: white;
}
.cvbtn:hover{
	background:  #565656;
	color: white;
	transition: .5s;

}
a:hover{
	color:black;
	transition: .5s;
}
.checkbtn{
	color: #585757;
	font-size: 25px;
	cursor: pointer;
	float: right;
	margin-right:20px;
	line-height: 65px;
	display: none;
}
#check{
	display: none;
}
@media(max-width: 952px){
	.logo{
		font-size: 20px;
		transition: .5s;
		padding-left: 25px;

	}
	nav ul li{
		font-size: 13px;
	}
}
@media(max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #E8E6E6;
		top: 60px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 25px 0;
		line-height: 20px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover{
		background: none;
		color: black;
	}
	#check:checked ~ ul {
		left:  0;
	}

}
/*konten utama*/

/*Margin Utama*/
.marginutama{
	margin-right: 7%;
	margin-left: 7%;
	padding-left: 15px;
	padding-right: 15px;
}
.paddingutama{
	
	padding-left: 15px;
	padding-right: 15px;
}
/*PAGE 1*/
.page1{
	/*mengatur jarak page 1 dari atas*/
	margin-top: -5px;
  	background-image: url(gambar/bg1.jpg);
  	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%; 

}
.welcome1{
	display: inline-block;
	margin-top: 65px;
	margin-left: 4%;
	color: #DCDCE3;
	font-size: 70px;
	letter-spacing: 13px;
	font-family: juliussans;
}
.jarak1{
	margin-top: 562px;
	height: 60px;
}

/*PAGE 2*/
.page2{
	
	height: 720px;
	width: 100%;
	background-color:#F2F1F3;
}
.page21{
	height: 660px;
	width:50%;
	float: left;


}
.page22{
	height: 660px;
	width:50%;
	float: left;

	}
	
.about1{
	margin-top: 80px;
	margin-left: 3%;
	color:#212529 ;
	font-size: 40px;
	letter-spacing: 3px;
	font-family: times-new-roman;
}
.about2{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 50px;
	text-align: justify;
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 27px;
	color:#212529;
}
.gambarpage2{
	display: inline-block;
	padding-top: 170px;
	padding-left: 30%;
	
	
}
.gambarpage22{
	border-radius: 50%;
	border:solid 3px white;
	
}
.namapage2{
	display: inline-block;
	font-family: juliussans;
	font-size: 25px;
	color: #9D7474;
	padding-top:40px;
	padding-left: 30%;

}
.patabuga{
	font-size: 55px;
	letter-spacing: 3px;
}
.jarak2{
	
	height: 60px;
	width: 100%;
	background-color: salmon;


}
.clear1{
	clear: both;
}

/*PAGE 3*/
.page3{
	height: 660px;
	width: 100%;
	background-color: lightgreen;

}
.jarak3{
	
	height: 60px;
	width: 100%;

	background-color: salmon;
}




/*PAGE 4*/
.page4{
	height: 660px;
	width: 100%;
	background-color: pink
}
.blog{
	height: 620px;
	width:100%;
	
}
/*PAGE 5*/
.page5{
	height: 230px;
	width: 100%;
	background-color: #282828;
	color: white
	
}
.contact{
	font-size: 25px;
	padding-left:  10px;
	padding-top: 10px;
	letter-spacing: 2px;
	border-bottom: 2px solid white;

}
.ct1{
	height: 145px;
	width:30%;
	float: left;
	
	
}	
.ct2{
	height: 145px;
	width:40%;
	float: left;
	
	
}
.ct3{
	height: 145px;
	width:30%;
	float: left;
	
	
}
.ct21{
	float: left;
}
.ct22{
	float: left;
	
}
.ct23{
	float: left;
}
.ct24{
	float: left;
}
.linkedin{
	border-radius: 50%;
}



/*PAGE 6*/
.page6{
	height: 40px;
	width:100%;
	background-color: #141414;
	text-align: center;
}

.copy{
	font-size:13px;
	margin-left: 5px;
	
	color:white;
	letter-spacing: 2px;
}
.all{
	color: #707070;
}
.copy2{
	font-size: 11px;
	margin-left: 5px;

	color:#707070;
	letter-spacing: 2px;
}