*{
	padding: 0;
	margin: 0;
	text-decoration: none;

}
@font-face{
	font-family: opensans;
	src:url(OpenSans-Regular.ttf);
}
@font-face{
	font-family: juliussans;
	src:url(JuliusSansOne-Regular.ttf);
}
@font-face{
	font-family: roboto;
	src:url(RobotoCondensed-Regular.ttf);
}
body{
	font-family: opensans;
	
}

.logo{
	color: #DAD5D5;
	font-family: juliussans;
	font-size: 30px;
	line-height: 60px;
	padding: 15px 20px;
	background-color:#282828;
	letter-spacing: 
}
nav{
	position: fixed;
	background: white;
	height: 60px;
	width: 100%
}
nav ul{
	float: right;
	margin-right: 20px;

}
nav ul li {
	display: inline-block;
	line-height: 60px;
	margin: 5px;
}
nav ul li a{
	color:#747474 ;
	font-size: 15px;
	line-height: 60px;
	padding:0px 7px;
	border-radius: 3px;
	text-transform: uppercase;

}
.cvbtn{
	background: #9D7474;
	color: white;
}
.cvbtn:hover{
	background:  #565656;
	color: white;
	transition: .5s;

}
a:hover{
	color:black;
	transition: .5s;
}
.checkbtn{
	color: #585757;
	font-size: 25px;
	cursor: pointer;
	float: right;
	margin-right:20px;
	line-height: 65px;
	display: none;
}
#check{
	display: none;
}
@media(max-width: 952px){
	.logo{
		font-size: 20px;
		transition: .5s;
		padding-left: 25px;

	}
	nav ul li{
		font-size: 13px;
	}
}
@media(max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #E8E6E6;
		top: 60px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 25px 0;
		line-height: 20px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a:hover{
		background: none;
		color: black;
	}
	#check:checked ~ ul {
		left:  0;
	}

}
/*konten utama*/

/*Margin Utama*/
.marginutama{
	margin-right: 7%;
	margin-left: 7%;
	padding-left: 15px;
	padding-right: 15px;
}
.paddingutama{
	
	padding-left: 15px;
	padding-right: 15px;
}
/*PAGE 1*/
.page1{
	/*mengatur jarak page 1 dari atas*/
	margin-top: -5px;
  	background-image: url(gambar/bg1.jpg);
  	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


}
.page11{
	width:100%; 
	height: 600px;
	
}
.page111{
	margin: auto;
	padding-top: 15%;
	width: 670px;
	height: 100px;
	text-align: center;
	
}


.welcome1{
	color: #F1F1F1;
	font-size: 70px;
	letter-spacing: 13px;
	font-family: juliussans;
	border-bottom: 2px solid #F1F1F1;
}
.welcome2{
	font-size: 30px;
	color: #F1F1F1;
	padding-bottom: 20px;
	letter-spacing: 7px;
}
.jarak1{
	margin-top: 200px;
	height: 60px;
	
/*masih bermasalah ketika layar berbeda*/
}


/*PAGE 2*/
.page2{
	
	height: 720px;
	width: 100%;
	background-color:#F2F1F3;
}
.page21{
	height: 660px;
	width:50%;
	float: left;


}
.page22{
	height: 660px;
	width:50%;
	float: left;

	}
	
.about1{
	margin-top: 80px;
	margin-left: 3%;
	color:#212529 ;
	font-size: 40px;
	letter-spacing: 3px;
	font-family: juliussans;
}
.about2{
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 50px;
	text-align: justify;
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 27px;
	color:#212529;
}
.gambarpage2{
	display: inline-block;
	padding-top: 160px;
	padding-left: 30%;
	
	
}
.gambarpage22{
	border-radius: 50%;
	border:solid 3px white;
	
}
.namapage2{
	display: inline-block;
	font-family: juliussans;
	font-size: 25px;
	color: #9D7474;
	padding-top:40px;
	padding-left: 29%;

}
.patabuga{
	font-size: 55px;
	letter-spacing: 3px;
}
.jarak2{
	
	height: 60px;
	width: 100%;



}
.clear1{
	clear: both;
}

/*PAGE 3*/
.page3{
	height: 660px;
	width: 100%;
	background-color: #282828;
	color: white;
	display: inline-block;


}
.project{

	margin-top: 50px;
	margin-left: 3%;
	color:white ;
	font-size: 40px;
	letter-spacing: 3px;
	font-family: juliussans;
	text-align: center;

}
.project2{
	
	margin-top: 50px;
	margin-left: 3%;
	font-size: 15px;
	text-align: justify;
	letter-spacing: 2px;
	padding-right: 30px;
	line-height: 160%;
	
}
.tp{
	
	font-size: 25px;
	letter-spacing:3px;
	font-family: juliussans;
	margin-left: 3%;
	margin-top:70px;
	margin-bottom: 40px;
}
.project3{
	height: 200px;
	
	text-align: center;
	margin-left: 3%;
	
}
.tp1{
	background-color: #B9BCB9;
	width: 33%;
	height: 100%;
	float: left;
}
.tp2{
	background-color: #B9BCB9;
	height: 100%;
	width: 33%;
	float: left;
	border-left: 5px solid #282828;
	border-right: 5px solid #282828;
}
.tp3{
	background-color: #B9BCB9;
	height: 100%;
	width: 33%;
	float: left;
}
.jarak3{
	
	height: 60px;
	width: 100%;
	margin-top: 46px;
	
}




/*PAGE 4*/
.page4{
	height: 660px;
	width: 100%;
	background-color: #F2F1F3;
	display: inline-block;
}
.blog{
	color: #282828;
	

}
.shot1{
	margin-top: 30px;
	font-family: juliussans;
	font-size: 40px;
	letter-spacing: 3px;
}
.shot2{
	margin-top: 15px;
	font-size: 17px

}
.boxfoto{
	
	height: 450px; 
}
.bf1{
	height: 25%;
	background-color: lightblue;
}
.bf11{
	color: black;
	width: 25%;
	height: 100%;
	float: left;
}
.bf2{
	height: 25%;
	background-color: pink;

}
.bf21{
	color: black;
	width: 30%;
	height: 100%;
	float: left;
	background-color: violet;
}
.bf22{
	color: black;
	width: 40%;
	height: 100%;
	float: left;
	background-color: aqua;
}
.bf23{
	color: black;
	width: 30%;
	height: 100%;
	float: left;
	background-color: salmon;
}

.bf3{
	height: 25%;
	background-color: gold;
}
.bf31{
	color: black;
	width: 16%;
	height: 100%;
	float: left;
	background-color: salmon;
}
.bf32{
	color: black;
	width: 15%;
	height: 100%;
	float: left;
	background-color: violet;
}
.bf33{
	color: black;
	width: 17%;
	height: 100%;
	float: left;
	background-color: aqua;
}
.bf34{
	color: black;
	width: 20%;
	height: 100%;
	float: left;
	background-color: pink;
}
.bf35{
	color: black;
	width: 16%;
	height: 100%;
	float: left;
	background-color: lightblue;
}
.bf36{
	color: black;
	width: 16%;
	height: 100%;
	float: left;
	background-color: lightgreen;
}
.bf4{
	height: 25%;
	background-color: salmon;
}
.bf41{
	color: black;
	width: 20%;
	height: 100%;
	float: left;
	background-color:salmon;
	}
.bf42{
	color: black;
	width: 25%;
	height: 100%;
	float: left;
	background-color:lightgreen;
	}
.bf43{
	color: black;
	width: 20%;
	height: 100%;
	float: left;
	background-color:pink;
	}
.bf44{
	color: black;
	width: 15%;
	height: 100%;
	float: left;
	background-color:aqua;
	}
.bf45{
	color: black;
	width: 20%;
	height: 100%;
	float: left;
	background-color:gold;
	}

/*PAGE 5*/
.page5{
	height: 230px;
	width: 100%;
	background-color: #282828;
	color: white
	
}
.contact{
	font-size: 25px;
	padding-left:  10px;
	padding-top: 10px;
	letter-spacing: 2px;
	border-bottom: 2px solid white;
	background-color: lightgreen;

}
.ct1{
	height: 145px;
	width:30%;
	float: left;
	background-color: salmon;
	color: white;
	
	
}	
.ct2{
	height: 145px;
	width:40%;
	float: left;
	background-color: lightblue;
	
	
}
.ct3{
	height: 145px;
	width:30%;
	float: left;
	background-color: gold;
	
	
}
.ct21{
	float: left;
}
.ct22{
	float: left;
	
}
.ct23{
	float: left;
}
.ct24{
	float: left;
}
.linkedin{
	border-radius: 50%;
}
.link{
	color: white;
}



/*PAGE 6*/
.page6{
	height: 40px;
	width:100%;
	background-color: #141414;
	text-align: center;
}

.copy{
	font-size:13px;
	margin-left: 5px;
	
	color:white;
	letter-spacing: 2px;
}
.all{
	color: #707070;
}
.copy2{
	font-size: 11px;
	margin-left: 5px;

	color:#707070;
	letter-spacing: 2px;
}